p {
  margin-bottom: 0;
}

.btn {
  min-width: 14rem;
}

.fw-500 {
  font-weight: 500;
}

.mh-100-vh {
  min-height: 100vh;
}

.text-notice {
  color: #dc3545;
}

.wrapper {
  background-color: #571206;
}

.card {
  border-radius: 1.4rem;
  border: 0;
}

.card .card-header {
  background-color: #1d030f;
}

.card .card-header:first-child {
  border-radius: calc(1.4rem - 1px) calc(1.4rem - 1px) 0 0;
}

.card .card-body {
  padding: 1rem 2rem;
}

.card .card-footer {
  background-color: transparent;
  border-top: 0;
}
